
div{
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    margin-top: 20px
}
div a{
    margin: 10px 10px;
    color: blue;
    font-weight: 600;
    background-color: aqua;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;

}